<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- URL from docker links & env config see(./docker/database.setup.env) -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/app_network</property>
        <property name="hibernate.connection.username">Ysee</property>
        <property name="hibernate.connection.password_hash"></property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>

        <property name="show_sql">true</property>

        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- <property name="hbm2ddl.auto">create</property> -->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="com.ymonnier.restful.littleapp.models.User" />

    </session-factory>
</hibernate-configuration>
