<div class="ui middle aligned center aligned grid">
    <div ng-include="auth_errors.html"></div>
    <div class="column">
        <h2 class="ui blue image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <div class="ui error message" ng-class="{hidden: errors.length === 0}">
            <i class="close icon"></i>
            <div class="header">
                There were some errors with your submission
            </div>
            <ul class="list">
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
        <form name="form" class="ui large form" ng-class="{loading: processing}">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" ng-model="user.nickname" placeholder="Username" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" ng-model="user.password" placeholder="Password" required>
                    </div>
                </div>
                <div class="ui fluid large blue submit button"
                     ng-class="{disabled: form.$error.required}"
                     ng-click="login(user)">Login
                </div>
            </div>
            <div class="ui error message"></div>
        </form>

        <div class="ui message">
            New to us? <a ng-href="#!/register">Sign Up</a>
        </div>
    </div>
</div>