<div class="ui middle aligned center aligned grid">
    <div ng-include="auth_errors.html"></div>
    <div class="column">
        <h2 class="ui blue image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" ng-model="user.name" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" ng-model="user.password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large blue submit button">Login</div>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a ng-href="#!/register">Sign Up</a>
        </div>
    </div>
</div>