<h2 class="ui blue image header">
    <div class="content">
        Registration
    </div>
</h2>
<form class="ui large form">
    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" ng-model="user.nickname" placeholder="Nickname">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" ng-model="user.password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="home icon"></i>
                <input type="password" ng-model="user.address" placeholder="Address">
            </div>
        </div>
        <div class="ui fluid large blue submit button">Register</div>
    </div>

    <div class="ui error message"></div>

</form>