<div class="ui error message" ng-class="{hidden: errors.length === 0}">
    <i class="close icon"></i>
    <div class="header">
        There were some errors with your submission
    </div>
    <ul class="list">
        <li ng-repeat="error in errors">{{error}}</li>
    </ul>
</div>

<table class="ui single line table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td><i class="user icon"></i></td>
        <td>{{user.nickname}}</td>
        <td>{{user.address}}</td>
        <td ng-show="auth.id === user.id"><i class="edit icon" ng-click="selection(user)"></i></td>
        <td ng-show="auth.role === 1"><i class="remove icon" ng-click="delete(user)"></i></td>
    </tr>
    </tbody>
</table>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Adding
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" ng-model="user.nickname" placeholder="Name...">
            </div>
            <div class="field">
                <label>Address</label>
                <input type="text" ng-model="user.address" placeholder="Address..">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button" ng-click="update(user)">
            Submit
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
