// Import Semantic Front-End framework
@import url(../../bower_components/semantic/dist/semantic.min.css);

// Main features //
html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.main.container {
  margin-top: 70px;
  min-height: 100%;
  position: relative;
  height: 100%;
}

// Header //
header p {
  margin-left: 10px;
}

// Person action
tr .icon:hover {
  cursor: pointer;
}
